﻿@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body { min-width: 960px; background: #f5f5f5; font-size: 13px; color: #666; font-family: 'nanumgothic', '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Sans-Serif, 'Dotum', '돋움', 'Gulim', '굴림', '굴림체'; }

#header { text-align: center; border-top: 5px #339f66 solid; background: #fff; }
#header h1 { margin: 0px; padding: 0px; }
#header .container { position: relative; }
.container:before, 
.container:after { display: none; }

#utility { position: absolute; top: 15px; right: 0px; }
#utility .btn-default { border-color: #90b9a3; color: #6e8c7c; background: #fff; box-shadow: none; }
#utility .btn-default:hover,
#utility .btn-default:focus,
#utility .btn-default.focus,
#utility .btn-default:active,
#utility .btn-default.active,
#utility .open > .dropdown-toggle.btn-default {
  color: #576e62;
  background-color: #f2f2f2;
  border-color: #90b9a3;
}

.container { width: 95%; }

.navbar { margin: 10px 0 0; border: 1px #2b8656 solid; background: #30a67e; border-radius: 5px; }
#navbar { padding: 0px; border: 0px; }
.navbar .navbar-nav { float: none; display: table; width: 100%; border: 0px; font-weight: 600 !important; }
.navbar .navbar-nav > li { float: none; display: table-cell; text-align: center; }
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover {  color: #fff !important; }
.navbar .navbar-nav > li > a { display: inline-block; padding: 0 0 0 32px; height:48px; line-height: 46px; background-repeat: no-repeat !important; background-position: left 45%; }
.navbar .navbar-nav .nth-child-1 > a { background-image: url('../img/nav_icon_1.png'); }
.navbar .navbar-nav .nth-child-2 > a { background-image: url('../img/nav_icon_2.png'); }
.navbar .navbar-nav .nth-child-3 > a { background-image: url('../img/nav_icon_3.png'); }
.navbar .navbar-nav .nth-child-4 > a { background-image: url('../img/nav_icon_4.png'); }
.navbar .navbar-nav .nth-child-5 > a { background-image: url('../img/nav_icon_5.png'); }
.navbar .navbar-nav .nth-child-6 > a { background-image: url('../img/nav_icon_6.png'); }
.navbar .navbar-nav .nth-child-7 > a { background-image: url('../img/nav_icon_7.png'); }
.navbar .navbar-nav .nth-child-8 > a { background-image: url('../img/nav_icon_8.png'); }
.navbar .navbar-nav > .open,
.navbar .navbar-nav > .active { background: url('../img/nav_active.png') repeat-x left top; }
.navbar .navbar-nav > .open > a, 
.navbar .navbar-nav > .open > a:hover, 
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:visited,
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:visited { background-color: transparent; border: 0px; box-shadow: none; }
.navbar-nav .open .dropdown-menu { display: table; left: -140px; margin: 0px; padding: 0px; background: #fff; font-size: 14px; border-radius: 5px; 
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
          box-shadow: 0 2px 0 rgba(0, 0, 0, .1); }
.navbar .navbar-nav .nth-child-6 .dropdown-menu { left: -85px; }
.navbar .navbar-nav .nth-child-7 .dropdown-menu { left: -120px; }
.navbar-nav .open .dropdown-menu > li  { display: table-cell; }
.navbar-nav .open .dropdown-menu > li > a { padding: 0 40px; display: inline-block; height: 34px; line-height: 32px; color: #333 !important; font-weight: 600; }
.navbar-nav .open .dropdown-menu > li > a:hover { color: #339f66 !important; }
.navbar-nav .open .dropdown-menu:after  { content: ''; position: absolute; left: 50%; top: -8px; margin-left: -7px; width: 14px; height: 8px; background: url('../img/nav_arrow.png') no-repeat left top; }
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus { background: none !important; filter: none !important; }

#footer { margin-top: 100px; text-align: center; border-top: 0px #aaa solid; }

/* button */
.btn { font-size: 13px; padding: 7px 10px; }
.btn-sm { padding: 4px 18px 5px 18px; font-size: 12px; font-weight: 600; }
.btn-lg { margin: 0 2px; padding: 11px 16px 12px 16px; font-size: 16px; font-weight: 600; min-width: 120px; }

.btn-close { display: inline-block; width: 22px; height: 22px; vertical-align: middle; background: url('../img/btn_close.png') no-repeat left top; }
.btn-add { display: inline-block; margin-left: 30px; width: 30px; height: 30px; vertical-align: middle; background: url('../img/btn_add.png') no-repeat left top; }
.btn-modify { display: inline-block; margin: 0 1px; width: 30px; height: 30px; vertical-align: middle; background: url('../img/btn_modify.png') no-repeat left top; }
.btn-delete { display: inline-block; margin: 0 1px; width: 30px; height: 30px; vertical-align: middle; background: url('../img/btn_delete.png') no-repeat left top; }
.btn-setup { display: inline-block; margin: 0 1px; width: 30px; height: 30px; vertical-align: middle; background: url('../img/btn_setup.png') no-repeat left top; }

.btn .ico { margin-right: 10px; font-size: 14px; font-weight: 800; }

.section-button { margin: 30px 0 10px 0; text-align: center; }
.section-button:before,
.section-button:after { clear: both; display: table; content: " "; }

.pagination-wrap { margin-top: 30px; text-align: center; }
.pagination-wrap .pagination { margin: 0px !important; }

/* title */
div.title { position: relative; }
div.title .action { position: absolute; top: 0px; right: 0px; }
div.title .action .btn-sm { margin-top: 8px; }

h2.title { margin: 40px 0 0; padding: 6px 0 13px 45px; font-size: 24px; color: #1e1e1e; background: url('../img/h2.png') no-repeat left top; }
h3.title { margin: 0px; padding: 0px; height: 48px; line-height: 46px; font-size: 14px; color: #333; text-align: center; font-weight: bold; border-top: 1px #ddd solid; background: #fafafa; }
h3.title-success { color: #3c763d; background: #dff0d8; }
h3.title-primary { color: #31708f; background: #d9edf7; }

/* table */
.table { border-top: 2px #ddd solid; border-bottom: 1px solid #ddd; }
.table th { text-align: center; vertical-align: middle !important; color: #333; background: #fafafa; border-bottom: 0px !important; }
.table tbody td { padding: 6px 0 6px 20px !important; vertical-align: middle !important; }
.table tbody td input,
.table tbody td a,
.table tbody td button { vertical-align: middle; }

.table-list { border-right: 1px #ddd solid; }
.table-list th,
.table-list td { padding: 10px 0px !important; text-align: center; border-left: 1px #ddd solid; }
.table-list thead td { border-top: 1px #ddd solid; }
.table-list thead tr:first-child td { border-top: 0px; }
.table-list tbody td { padding: 10px 0px !important; }

.table-danger { border-color: #e1a8a7; }
.table-danger th { background: #f6e3e3; color: #333; }
.table-danger tbody td { padding-top: 16px !important; padding-bottom: 16px !important; background: #fff; }

/* form */
input.de-check { display: none; }
input.de-check + label { position: relative; z-index: 1; display: inline-block; margin: 7px 5px 7px 0; min-width: 95px; font-weight: normal; }
input.de-check + label span { display: inline-block;  margin-right: 10px; width: 22px; height: 22px; vertical-align: middle; background: url('../img/check_off.png') no-repeat; cursor: pointer; }
input.de-check:checked + label span { background-image: url('../img/check_on.png'); }
.lt-ie9 input.de-check { display: inline-block; }
.lt-ie9 input.de-check + label { margin-right: 10px; min-width: 88px; }
.lt-ie9 input.de-check + label span { display: none; }

input.de-radio { display: none; }
input.de-radio + label { position: relative; z-index: 1; display: inline-block; margin: 7px 5px 7px 0; min-width: 95px; font-weight: normal; }
input.de-radio + label span { display: inline-block;  margin-right: 10px; width: 30px; height: 30px; vertical-align: middle; background: url('../img/radio_off.png') no-repeat; cursor: pointer; }
input.de-radio:checked + label span { background-image: url('../img/radio_on.png'); }
.lt-ie9 input.de-radio { display: inline-block; }
.lt-ie9 input.de-radio + label { margin-right: 10px; min-width: 88px; }
.lt-ie9 input.de-radio + label span { display: none; }

.de-select,
.modal-select { display: inline-block; vertical-align: middle; margin: 0px; padding: 0px; height: 38px; }

input[type="text"],
input[type="password"] { padding: 6px 12px; height: 38px; background: #fff; border: 1px solid #ddd; }
input.large { width: 99%; }
input.small { width: 100px !important; }
input.xsmall { width: 50px !important; }

textarea { padding: 6px 12px; background: #fff; border: 1px solid #ddd; }

/* panel */
.panel { box-shadow: none; border-bottom-size: 1px; border-radius: 5px; overflow: hidden; }
.panel-heading { position: relative; text-align: center; }
.panel-heading .btn-close { position: absolute; right: 8px; top: 8px; }
.panel-success .panel-heading { background: #dff0d8; }
.panel-info .panel-heading { color: #31708f; background: #d9edf7; }
.panel-primary { border-color: #949494; }
.panel-primary .panel-heading { color: #fff; background: #949494; }
.panel-primary .panel-body { border-color: #949494; }
.panel-primary .panel-body td { font-size: 14px;; }
.panel-body { padding: 0px; }
.panel-body .table { margin: 0px; border-top: 0px; border-bottom: 0px; }
.panel-body .table td { padding-top: 18px !important; padding-bottom: 18px !important; }
.panel-body .table tr:first-child th,
.panel-body .table tr:first-child td { border-top: 0px; }

/* modal */
.modal-dialog { top: 100px; }
.modal-content { border-radius: 5px 5px 0 0; border-bottom: 2px #337ab7 solid; box-shadow: none; }
.modal .modal-header { padding: 1px 0 0; background: #337ab7; }
.modal .modal-header .modal-title { padding: 10px 0; color: #fff; font-size: 16px; text-align: center; border-top: 1px #4888be solid; text-shadow:0 -1px 0 rgba(0, 0, 0, .5); }
.modal .close { margin: 0px;width: 40px; height: 40px; opacity: 1; filter: none; background: url('../img/modal_close.png') no-repeat center center; }

/* tab */
.tab-a ul { display: table; margin: 0px; padding: 0px; width: 100%; border-top: 1px #ddd solid; }
.tab-a ul li { display: table-cell; margin: 0px; padding: 0px; text-align: center; }
.tab-a ul li a { display: block; height: 46px; line-height: 44px; color: #333; font-size: 14px; font-weight: bold; }
.tab-a ul li.active a { color: #31708f; background: #d9edf7; }

.tab-b ul { display: table; margin: 0px; padding: 0px; border: 1px #3e8f3e solid; border-radius: 5px; overflow: hidden; }
.tab-b ul li { display: table-cell; margin: 0px; padding: 0px; text-align: center; background: #ecf1ec; border-left: 1px #3e8f3e solid; }
.tab-b ul li:first-child { border-left: 0px; }
.tab-b ul li a { display: block; padding: 0 10px; height: 32px; line-height: 32px; color: #3e8f3e; }
.tab-b ul li.active a { color: #fff; text-decoration: none;
    background-repeat: repeat-x;
    border-color: #3e8f3e;
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
}

/* margin */
.mt5 { margin-top: 5px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt60 { margin-top: 60px; }

/* color */
.strong { color: #cc3f3b; }

/* custom */
.code-list { overflow: hidden; overflow-y: auto; height: 500px; font-size: 14px; border-top: 2px #ddd solid; border-bottom: 1px #ddd solid; }
.code-list ul { margin: 0px; padding: 0px; list-style: none; }
.code-list ul li { position: relative; margin: 0px; padding: 8px 0; text-align: center; border-bottom: 1px #ddd solid; }
.code-list ul li:nth-child(even) { background: #fafafa; }
.code-list .btn-close { position: absolute; top: 7px; right: 20px; }

table.entry input[type="text"] { width: 360px; }
table.entry .jqTransformSelectWrapper { width: 210px !important; }
table.entry .jqTransformSelectWrapper ul { min-width: 209px; }
table.entry .btn-close { margin-left: 5px; }
table.entry .add { color: #333; font-size: 14px; font-weight: bold; }


table.condition .pager { position: relative; height: 0px; margin: 0px; }
table.condition .pager button { position: absolute; top: -24px; width: 28px; height: 28px; color: #333; font-size: 8px; border: 1px #ddd solid; background: #fff; }
table.condition .pager .prev { left: 5px; border-radius: 5px 0 0 5px; }
table.condition .pager .next { right: 5px; border-radius: 0 5px 5px 0; }
table.condition  tr.total td { background: #fafafa; }

#modalSectionSearch .modal-dialog,
#modalQuerySearch .modal-dialog { width: 980px; }

#modalQuerySearch .tab-a ul li { width: 50%; }
#modalQuerySearch .where { margin-top: 6px; }
#modalQuerySearch .where:first-child { margin-top: 0px; }
#modalQuerySearch .where .jqTransformSelectWrapper { vertical-align: middle; }
#modalQuerySearch .where label { display: inline-block; margin: 0px; width: 65px; font-weight: normal; }
#modalQuerySearch td.textarea { padding-left: 10px !important; }
#modalQuerySearch td.textarea textarea { width: 99%; height: 100px; }

#modalUserSave .modal-dialog { width: 400px; }

.binder-menu { padding-top: 15px; border-top: 1px #ccc solid; }
.binder-menu ul { margin: 0px; padding: 0px; list-style: none; }
.binder-menu ul ul { margin-left: -25px; }
.binder-menu li { margin: 0px; padding: 10px 0 0 65px; position: relative; background: url('../img/binder_off.gif') no-repeat left top; }
.binder-menu li.open { background-image: url('../img/binder_on.gif'); }
.binder-menu li.last { background-image: url('../img/binder_off_last.gif'); }
.binder-menu li.open.last { background-image: url('../img/binder_on_last.gif'); }
.binder-menu li.first { padding-left: 40px; background-position: -25px top; }
.binder-menu li div.action { position: absolute; right: 0px; top: 0px; }
.binder-menu li strong { display: inline-block; padding-right: 20px; height: 30px; line-height: 30px; vertical-align: middle; font-weight: 600; color: #333; font-size: 14px; }
.binder-menu li table { margin-top: 10px; margin-bottom: 0px; }

html { height: 100%; }
body.login {  background: url('../img/login_bg.png') no-repeat center center; background-size: 100% 100%; }

body.login .container  {  }
body.login #footer  { position: absolute; left: 50%; bottom: 0px; width: 960px; margin-left: -480px; }

.login-box { margin: 200px auto 0px auto; width: 360px; }
.login-box h1 { margin: 0px; padding: 0px; height: 90px; text-align: center; }
.login-box .login-wrap { border: 1px #339f66 solid; border-radius: 5px; overflow: hidden; background: #fff; }
.login-box h2 { background-position: 0% 0%;
    margin: 0px;
    padding: 0px;
    color: #fff; font-size: 16px; height: 40px; line-height: 38px; text-align: center; background-repeat: repeat-x;
    border-color: #3e8f3e;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    background-color: #5cb85c;
    background-attachment: scroll;
}
.login-box .login-body p { margin: 0px; padding: 6px 0; border-bottom: 1px #ddd solid; }
.login-box .login-body p label { display: inline-block; width: 75px; text-align: center; font-size: 14px; color: #333; }
.login-box .login-body p input { width: 260px; }
.login-box .login-body .section-button { margin: 20px 0; }

/* JH 추가 */
.btn-code-del { display: inline-block; width: 22px; height: 22px; vertical-align: middle; background: url('../img/btn_close.png') no-repeat  }

form {margin:0px;padding:0px;display:inline;}

.btn_both{overflow:hidden;clear:both;width:100%}
.btn_both .leftSide{float:left}
.btn_both .rightSide{float:right}
