body {
	font-size:10pt;
	line-height:20px;	
}

.div_chapter {
}

.div_unit {
}

/*대제목 H3*/
.chapterTitle {
	border-bottom:2px solid  #707070;
}

/*중제목 H4*/
.unitTitle {
	color:#004080;
}
/******************테이블 관련****************/
table {
	width:680px;
	margin-top:5px;
	margin-bottom:5px;


}
table td{
	padding:10px;
	font-size:10pt;
	line-height: 22px;
	border:1px solid #e4e4e4;
}
.tbl_type1 {/*열 머리글 타입 표 유형*/	
}
.tbl_type2 {/*행 머리글 타입 표 유형*/
}
.tbl_type3 {/*행*열 머리글 타입 표 유형*/
}

.tbl_BorderOn {/*표테두리선이 있어야 하는 경우*/
	border:1px solid #e4e4e4;
}
.tbl_BorderOff td {/*표테두리선이 없어야 하는 경우*/
	border:none;
}

.tdHeadType1 {/*열 머리글 타입의 표 셀*/
	background-color:#ffffdd;
	font-weight:bold;
	text-align:center;
}

.tdHeadType2 {/*행 머리글 타입의 표 셀*/
	background-color:#e9e9fe;
	font-weight:bold;
	text-align:center;
}
.bdrB {/*표 셀 bottom 테두리  굵게 표현해야 하는 경우*/
	border-bottom:2px solid #575757;
}
.bdrR {/*표 셀 right 테두리  굵게 표현해야 하는 경우*/
	border-right:2px solid #575757;
}

/*테이블 밑에 나타나는 표 캡션*/
.tbl_caption {
	text-align:center;	
	font-size:9pt;
	color:#9e9e9e;
}

/*테이블 배경색*/
.td_bg1 {
	background-color:#ffebe1;
}

.td_bg2 {
	background-color:#dfffff;
}

.td_bg3 {
	background-color:#e1e1ff;
}

.td_bg4 {
	background-color:#d7ffd7;
}

.td_bg5 {
	background-color:#ffdfff;
}

.td_bg6 {
	background-color:#c8cfff;
}

.td_bg7 {
	background-color:#eaeaea;
}
.td_bg8 {
	background-color:#dcdcb8;
}
.td_bg9 {
	background-color:#ffffff;
}
/*텍스트 정렬*/
.align1 {
	text-align:center;
}

.align2 {
	text-align:left;
}

.align3 {
	text-align:right;
}

/*텍스트 볼드*/
.boldon {
	font-weight:bold;
}

.boldoff {
}

/**************텍스트 관련*************/
/*기본 텍스트*/
.deftext {
		line-height:20px;
}
/*기본 텍스트*/
.subtext {
	margin-left:20px;
	color:#808080;
}

/*블록(강조) 텍스트*/
.blockText {
	padding:10px;
	background-color:#e8ffee;
	width:650px;
	line-height:20px;
}

.blockText_backup {
	padding:10px;
	background-color:#e8ffee;
	font-weight:bold;
	width:650px;
	line-height:20px;
}

/*텍스트 내 강조*/
.sp_HL {
	color:#39158c;
	font-weight:bold;
}

.sp_indent {
	margin-left:10px;
}

/**************이미지관련*************/

.imgArea {/*이미지를 감싸는 블록*/
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.imgSpan {
	text-align:center;
}
.imgSpan_side { /*이미지가 옆으로 나열되어야 하는 경우*/
	float:left;
	text-align:center;
}
.imgSpan_inLine {/*이미지가 텍스트와 같은 줄로 배열되어야 하는 경우*/
	text-align:center;
	vertical-align:middle;
}
.sp_eoimg {/*이미지 끝부분을 위한 빈 태그*/
	clear:both;
}
.imgT1_in {/*이미지 자체 클래스*/
	vertical-align:middle;	
}
.imgCaption {/*이미지 캡션*/
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	line-height:1;
	color:#0C39B1;
}
.imgDetails {/*이미지 설명*/
	margin-right:30px;
	margin-left:30px;
	text-align:left;
	line-height:1;
    color:#0C39B1;
}
/**************기타*************/
/*이미지에 하이퍼링크*/
.img_hyplink {
}

.comments {/*컴멘트 - 주석*/
	margin-right:auto;
	margin-left:auto;
	
    color:#CC0033;
}

/*텍스트 하이퍼링크*/
.text_link {
}

/*텍스트 앞의 글머리기호*/
.ico  {
margin-left:10px;
}
.blit {
}

/**************검수페이지 좌측 리스트 부분*************/

A.list_anchor:link {font-size:9pt;text-decoration:none;color:#454545;font-weight:bold;}
A.list_anchor:visited {font-size:9pt;text-decoration:none; }
A.list_anchor:hover {font-size:9pt;color:#0099cc;text-decoration:underline; }

/*P class="entryTitle"*/
.entryTitle {padding:10px;background-color:#525252;color:#ffffff;font-weight:bold;font-size:13pt;}