﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="XMLImport.aspx.cs" Inherits="main_XMLImport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server" method="post" enctype="multipart/form-data">
    <div>
        <asp:FileUpload ID="FileUpload1" runat="server" />
        <br/>
        <asp:Button ID="Upload_Button" Text="Upload" runat="server" OnClick="Upload_Button_Click" />
    </div>
    </form>
</body>
</html>
